.Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 10% 25px 10%;
}

.None{
    margin-top: 10%;
    align-self: center;
    font-size: large;
}

.Running{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Running>div{
    flex: 0 47%;
}

.Yet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Yet>div{
    flex: 0 47%;
}

.types{
    display: flex;
    justify-content: center;
    align-items: center;
}